<h1>Add players</h1>
<div>
<table>
  <% @players.each do |player| %>
  <tr>
    <td>
        <input type="checkbox" name="" value=""> 
        <%= player.name %>
        <%= @game.player_added?(player.id) %>
        <%= link_to 'ADD', game_add_player_path, data: { id: player.id }, method: :post %>
        <button type="button">ADD</button>
    </td>
  </tr>
  <% end %>
</table>
</div>
<div>
<%= link_to '+ NEW PLAYER', game_new_player_path %>
</div>
<div>
<button type="button">OK</button>
</div>
<div>
<button type="button">Cancel</button>
</div>