<h1>Games#show</h1>
<p>Find me in app/views/games/show.html.erb</p>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Team</th>
    <th>Cost</th>
    <th>Paid</th>
  </tr>
  <tr>
    <td><%= @game.name %></td>
    <td><%= @game.game_date %></td>
    <td><%= @game.team %></td>
    <td><%= @game.cost %></td>
    <td>TBA</td>
  </tr>
</table>
